.content {
    padding: 20px 20px;

    @media (min-width: 768px) {
        padding: 20px 40px;
    }
}

.content__title {
    margin-bottom: 35px;
    font-size: 45px;

    @media (min-width: 768px) {
        margin-bottom: 50px;
        font-size: 70px;
    }
}

.type {
    display: flex;
    flex-direction: column;
    gap: 35px;

    @media (min-width: 768px) {
        gap: 50px;
    }

    .type__wrapper {
        display: flex;
        border: 2px solid rgba($color: black, $alpha: 0.2);
        cursor: pointer;
        position: relative;

        &:hover,
        &:focus {
            .type__title,
            .type__image {
                opacity: 1;
            }
        }

        .type__title {
            position: absolute;
            top: -25px;
            line-height: 1;
            text-transform: uppercase;
            opacity: 0.5;
        }

        .type__image {
            height: 25vh;
            width: 100%;
            object-fit: contain;
            object-position: center;
            opacity: 0.5;

            &.type__image--grid {
                position: absolute;
            }
        }
    }

    input {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        visibility: 0;

        &:checked {
            & + label.type__wrapper {
                border: 2px solid rgba($color: black, $alpha: 1);

                .type__title {
                    opacity: 1;
                }

                .type__image {
                    opacity: 1;
                }
            }
        }
    }

    &.type--background {
        flex-wrap: wrap;
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

        @media (min-width: 768px) {
            gap: 30px;
        }

        .type__wrapper {
            flex: 1;
        }
    }
}
