.type {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        gap: 75px;
        max-width: 768px;
    }

    .type__wrapper {
        display: flex;
        cursor: pointer;
        position: relative;
        background-color: white;

        &:hover,
        &:focus {
            .type__image {
                box-shadow: -4px -4px 4px 4px rgb(245, 245, 245), 4px 4px 4px 4px rgb(224, 221, 221);
            }
        }

        .type__title {
            position: absolute;
            top: -1.1em;
            line-height: 1;
            font-size: 18px;
        }

        .type__image {
            height: 33vh;
            width: 100%;
            object-fit: contain;
            object-position: center;
            box-shadow: -2px -2px 2px 2px rgb(245, 245, 245), 2px 2px 2px 2px rgb(224, 221, 221);

            &.type__image--grid {
                position: absolute;
            }
        }
    }

    input {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;

        &:checked {
            & + label.type__wrapper {

                .type__image {
                    box-shadow: -4px -4px 4px 4px rgb(245, 245, 245), 4px 4px 4px 4px rgb(224, 221, 221);
                }
            }
        }
    }

    &.type--background {
        flex-wrap: wrap;
        flex-direction: row;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

        @media (min-width: 768px) {
            gap: 30px;
        }

        .type__wrapper {
            flex: 1;
        }
    }
}
