.boardPreview {
  height: 33vh;
  width: auto;
  position: relative;

  margin-bottom: 50px;

  .boardPreview__image,
  .boardPreview__grid {
    position: absolute;
    height: inherit;
    width: inherit;
    object-fit: contain;
    object-position: center;
    left: 50%;
    transform: translateX(-50%);
  }
}
