$gray: #F5F5F5;

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    max-width: 768px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px;

    .action {
        appearance: none;
        box-sizing: border-box;
        appearance: none;
        display: grid;
        outline: none;
        border: none;
        align-items: center;
        height: 80px;
        width: 100%;
        flex: 1;
        outline: none;
        background: none;
        cursor: pointer;
        border-radius: 40px;

        background-color: $gray;
        box-shadow: -2px -2px 2px 2px rgb(245, 245, 245), 2px 2px 2px 2px rgb(224, 221, 221);
        padding: 5px 20px;

        &.action--disabled {
            opacity: 0.2;
        }

        &.action__step1 {
            grid-column: 1fr;
            grid-row: 1fr;
        }

        .action__info {
            position: absolute;
            top: 5px;
            width: 100%;

            .action__step {
                position: absolute;
                left: 5px;
            }

            .action__price {
                position: absolute;
                right: 5px;
            }
        }

        .action__title {
            font-size: 28px;
            font-family: 'Roboto Mono', monospace;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .action__back {
        height: 80px;
        appearance: none;
        width: 80px;
        border-radius: 40px;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none"><path d="M7 12L17 12M7 12L11 8M7 12L11 16" stroke="%23001A72" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        border: none;
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $gray;
        box-shadow: -2px -2px 2px 2px rgb(245, 245, 245), 2px 2px 2px 2px rgb(224, 221, 221);
        
    }

    .action__back,
    .action {
        box-shadow: -2px -2px 2px 2px rgb(245, 245, 245), 2px 2px 2px 2px rgb(224, 221, 221);
        &:hover,
        &:active,
        &:focus {
            box-shadow: -4px -4px 4px 4px rgb(245, 245, 245), 4px 4px 4px 4px rgb(224, 221, 221);
            outline: none;
        }
    }
}
